<script type="text/javascript">
    jQuery(document).ready(function($) {
      $('a[rel*=facebox]').facebox({
        loadingImage : "<%= image_path('loading.gif')%>",
        closeImage   : "<%= image_path('closelabel.png')%>"
      })
    });
  </script>

<% unless @furniture.empty? %>
	<table id="furniture_table">
		<% @furniture_per_row = 3 %>
		<% (1..last_furniture_row).each do |nr| %>
			<tr>
				<% sliced_furniture_array(nr).each do |f| %>
					<td>
					  <%= link_to image_tag (f.main_image.url(:medium), :border =>0) , category_furniture_path(:id => f, :category_id => f.category), :rel =>"facebox" %>
					  <br />
						<h3><%= f.name %></h3>
					</td>
				<% end %>
			</tr>
		<% end %>
	</table>
<% else %>
	
<% end %>