<table id="furniture_table">
	<% @furniture_per_row = 4 %>
	<% (0..( ( @furniture.size / @furniture_per_row ) ) - 1 ).each do |nr| %>
		<tr>
			<% @furniture.slice(nr*@furniture_per_row, @furniture_per_row) do |f| %>
				<td>
					<%= image_tag f.image.url(:thumb), :href => furniture_url(f) %><br />
					<%= f.name %>
				</td>
			<% end %>
		</tr>
	<% end %>
</table>