html, body {
/*	background-color:#000B28;*/
/*	text-align:center;*/
	height: 100%;
  margin: 0;
  padding: 0;
}

img#bg {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

div#content {
	position:relative;
  z-index:1;
/*	margin:auto;
	min-width:10em;*/
/*  vertical-align: middle;*/
	margin-top:8%;
	float:left;
}

/*table {
	width:100%;
	border-spacing:0px;
	border-collapse:collapse;
}*/

div#main_menu_container {
	float:left;
}

div#menu_container {
	min-width:15%;
/*	margin-right:px;*/
	padding-right:15px;
	float:left;	
}

div#logo_container {
	margin-left:15px;
	float:left;
}

ul#main_menu {
	margin-top:112%;
	float:left;
	text-align:right;
	list-style-type:none;
	font-family:"Times New Roman",Times,serif; 
	font-style:italic;
}

ul#sub_menu > li {
	padding-right:20px;
	list-style-type:none;
}

div#separator_container {
	float:left;
}

img.separator {
	width:74px;
	height:500px;
}

img.hidden {
	display:none;
}

div#page_content {
	float:left;
}

img#logo {
	margin-top:50%;
	width:125px;
	height:125px;
}


a {
/*	font-family: arial, verdana, sans-serif;*/
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	color: #FFFF66;
}

a:active {
/*	font-family: arial, verdana, sans-serif;*/
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	color: #FFFF66;
}

a:hover {
/*	font-family: arial, verdana, sans-serif;*/
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	color: #bfc2c9;
}

li.category {
	padding-top:3px;
	padding-bottom:3px;
}

li.category > a {
	font-size:18px;
	font-weight:900;
}

a.selected {
	color:#FFFF00;
}

p {
	font-family: arial, verdana, sans-serif;
	font-size: 22px;
	font-weight: normal;
	text-decoration: none;
	color: white;
}

div#frame_container {
/*	align:middle;*/
	margin:auto;
	padding:0px;
	width:95%;
	height:95%;
}

div#under_construction_content {
	margin:0 auto;
	width:768px;
	position:relative;
}

div#footer {
	margin-left:-70px;
	margin-top:30px;
}

div.hidden {
	display:none;
}

table#furniture_table {
	border-width:0px;
	width:100%;
	margin-top:10%;
}

table#furniture_table td{
	border-width:1px;
	border-color:#FFFF66;
	height :200px;
	width :200px;
}

table#furniture_table tr td img {
	display:block; 
	margin: 0 auto;
}

h3 {
	font-family: "ff-scala-web-1","ff-scala-web-2","Georgia",serif;
	color:white;
	font-style:italic;
}

