/* STANDARD TAG REDEFINITIONS */
BODY {color : #FDEFD9; font-family : Arial, Helvetica, sans-serif;
font-size: 12px;
background-color: Black;
}
TD {font-family : Arial, Helvetica, sans-serif;
font-size: 12px;
}
p {font-family : Arial, Helvetica, sans-serif;
margin-bottom: 10px;
margin-top: 0;
font-size: 12px;
}
a {
color: #CB2727;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
form.NoMargin {
margin-left: 0px;
margin-bottom: 0px;
margin-right: 0px;
margin-top: 0px;
}

/* TOP */
td.TopNav {
background-color: #682315;
border: 1px solid #A1351E;
}
.TopNav a {
color: #FFFBD5;
font-size: 11px;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
font-weight: bold;
}
.TopNav a:hover {
text-decoration: none;
top: 0px;
position: relative;
color: White;
}
div.Title {
background-color: #685B49;
background-image: url("../images/bg_title.gif");
background-repeat: repeat-x;
border: 1px solid #7D6D58;
color: #FFFBD5;
font-weight: bold;
font-size: 11px;
}

/* LEFT */
div.RightText {
padding-top: 15px;
padding-left: 10px;
padding-right: 15px;
background-color: #4F4537;
background-image: url("../images/bg_left.gif");
background-repeat: repeat-x;
padding-bottom: 8px;
}
div.Left, div.Left p {
font-size: 11px;
color: #EEE1B2;
line-height: 16px;
}
.Left a {
font-size: 11px;
color: #FFFAE7;
text-decoration: none;
}
.Left a:hover {
color: White;
}
td.LeftSearch {
background-repeat: repeat-x;
background-image: url("../images/bg_search.gif");
}
input.SearchBox {
width: 150px;
height: 19px;
background-image: url("../images/bg_searchbox.gif");
background-repeat: repeat-x;
background-color: #FFFAE7;
border: 0px none;
}
td.LeftCaption {
font-weight: normal;
color: #FFFAE7;
font-family: "MS Sans Serif", Geneva, sans-serif;
padding-left: 12px;
border-bottom: 1px solid #FFFAE7;
}

/* CENTER */
td.MainText {
padding-left: 10px;
padding-top: 15px;
padding-right: 15px;
padding-bottom: 15px;
}
td.MainText p {
line-height: 20px;
}
td.CenterCaption {
color: #FFFAE7;
font-weight: bold;
padding-right: 10px;
border-bottom: 1px solid #FFFAE7;
font-family: "MS Sans Serif", Geneva, sans-serif;
font-size: 13px;
}

/* FOOTER */
td.Footer {
background-color: #685B49;
background-image: url("../images/bg_title.gif");
background-repeat: repeat-x;
border: 1px solid #7D6D58;
color: #FFFBD5;
font-weight: bold;
font-size: 10px;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
/*padding-left: 15px;
padding-right: 15px;*/
}
.Footer a {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: normal;
text-decoration: none;
color: White;
}

/*Additional styling added for customized layout*/
/*Style that moved from html to CSS*/
/*body > div:first-child {
	width:750px;
}*/

table#header_table {
	width:750px; 
	border-width:0px;
	border-collapse:collapse;
	margin:0px;
	margin-left:-10px;
}

img#logo_img {
	width:750px; 
	height:190px;
}

td.TopNav {
	height:24px;
	vertical-align:middle;
	text-align:center;
}

div#main_menu_container{
	width:90%;
}

img#logo_spacer_img {
	width:30px; 
	height:15px;
}

table#content_table{
	width:750px;
	border-collapse:collapse;
	border-width:0px;
	margin:0;
	
}

img#title_icon{
	width:23px; 
	height:24px; 
	display:block;
	float:left;
/*	align="absmiddle"*/
}

td#td_spacer {
	width:15px;
}

img#content_spacer_img {
	width:15px;
	height:30px;
}

td#right_column{
	width:350px;
}

td#right_column_without_gallery {
	width:200px;
}

div#right_text {
	text-align:justify;
}

/* Customizations */
ul#main_menu li {
	display:inline-block;
	width:80px;
	margin-left:20px;
}

ul#main_menu a {
	font-size:13px;
}

ul#sub_menu {
	position:absolute;
}

ul#sub_menu a {
	font-size:11px;
}

ul#sub_menu li {
	margin-left:-40px;
	display:block;
	background:#682315;
	padding-top:5px;
/*	margin-top:50px;*/
}

ul#sub_menu li:hover{
	background:black;
}

div#page {
	width:100%;
	margin: 0 0 0 0;
}

div.wrapper {
	display:inline-block;
	width:100px;
}

div.Title {
	height:24px;
}

div.Title span {
	display:block;
	float:right;
	margin-top:6px;
	width:70px;
}

div#page_content {
	margin-top:20px;
}

img#slogan_image {
	width:250px;
	height:48px;
	display:block;
	clear:right;
}

img#under_slogan_image {
	width:400px;
	height:75px;
	margin-left:20px;
	margin-top:50px;
}

div#gallery_container {
/*	float:right;
	margin-top:80px;
	margin-right:30px;
*//*	border-width:2px;
	border-style:solid;
	border-color:#657688;*/
	background:url('../images/gallery_border.png') no-repeat center center;
/*	background:#061729;*/
	height:250px;
	width:300px;
	text-align:center;
	display:block;
	position:relative;
/*	position:fixed;*/
}

img#gallery_img{
	height:200px;
  margin-top:25px;
}

div#description_title {
	max-width:313px;
}
div#right_text {
	max-width:290px;
}

div#frame_container {
/*	align:middle;*/
	margin:auto;
/*	padding-left:20px;*/
	width:750px;
	height:440px;
}

table#footer_table {
	width:756px; 
	border-collapse:collapse;
	border-width:0px;
	margin:0;
	margin-left:-16px;
}

div#page_title {
	width:100%;
}

table#contacts_table td, th{
	vertical-align:middle;
	text-align:left;
}

table#contacts_table th {
	font-weight:bold;
}

img#map{
	width:500px;
	height:344px;
}

div#language_select_container {
	margin-top:40px;
	position:absolute;
}

div#language_select_container a {
	color:#682315;
}

img#lv_flag, img#ru_flag {
	width:18px;
	height:11px;
}

