<ul id="admin_actions_list">
  <li> <a class="admin" href="<%= admin_categories_path %>">Categories list</a> </li>
  <li> <a class="admin" href="<%= admin_sub_categories_path %>">Sub Categories list</a> </li>
  <li> <a class="admin" href="<%= admin_furniture_index_path %>">Furniture list</a> </li>
  <li> <a class="admin" href="#">Image gallery configuration</a> </li>
</ul>