<table id="contacts_table">
  <tr>
    <td colspan="2">
      <h3>Kontakti</h3>
    </td>
  </tr>
  <tr>
    <th rowspan="2">Salona Adrese</th>
    <td>Brīvības iela 173, Rīga, LV-1012, Latvija</td>
  </tr>
  <tr>
    <td>Pie ēkas ir BEZMAKSAS autostāvvieta</td>
  </tr>
  <tr>
    <th rowspan="2">Telefons</th>
    <td>+371 25911562</td>
  </tr>
  <tr>
    <td>+371 26068318</td>
  </tr>
  <tr>
    <th>E-pasts</th>
    <td>info@elitehouse.lv</td>
  </tr>
    <td colspan="2">
      <h3>Darba laiks</h3>
    </td>
  </tr>
  <tr>
    <th>Pirmdiena - Sestdiena</th>
    <td>10<sup>00</sup> - 19<sup>00</sup></td>
  </tr>
  <tr>
    <th>Svētdiena</th>
    <td> - </td>
  </tr>
  <tr>
    <td colspan="2">
      <%= image_tag "map.png", :id => "map" %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <h3>Rekvizīti</h3>
    </td>
  </tr>
  <tr>
    <th>Nosaukums</th>
    <td>SIA ALLIANCE GROUP</td>
  </tr>
  <tr>
    <th>Juridiskā adrese</th>
    <td>Valdlauči 3-14, Ķekavas pagasts, Rīgas rajons</td>
  </tr>
  <tr>
    <th>Banka</th>
    <td>SEB banka</td>
  </tr>
  <tr>
    <th>Konts</th>
    <td>LV33UNLA0050016608015</td>
  </tr>
</table>