<table id="contacts_table">
  <tr>
    <td colspan="2">
      <h3>Контакты</h3>
    </td>
  </tr>
  <tr>
    <th rowspan="2">Адрес салона</th>
    <td>ул. Бривибас 173, Рига, почтовый индекс LV-1012, Латвия</td>
  </tr>
  <tr>
    <td>У здания есть БЕСПЛАТНАЯ стоянка</td>
  </tr>
  <tr>
    <th rowspan="2">Телефон</th>
    <td>+371 25911562</td>
  </tr>
  <tr>
    <td>+371 26068318</td>
  </tr>
  <tr>
    <th>Электронная почта </th>
    <td>info@elitehouse.lv</td>
  </tr>
    <td colspan="2">
      <h3>Время работы</h3>
    </td>
  </tr>
  <tr>
    <th>Понедельник - Суббота</th>
    <td>10<sup>00</sup> - 19<sup>00</sup></td>
  </tr>
  <tr>
    <th>Воскресенье</th>
    <td> - </td>
  </tr>
  <tr>
    <td colspan="2">
      <%= image_tag "map.png", :id => "map" %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <h3>Реквизиты</h3>
    </td>
  </tr>
  <tr>
    <th>Название фирмы</th>
    <td>ООО ALLIANCE GROUP</td>
  </tr>
  <tr>
    <th>Юридический адрес</th>
    <td>Валдлаучи 3-14, Кекавская волость, Рижский район</td>
  </tr>
  <tr>
    <th>Банк</th>
    <td>SEB banka</td>
  </tr>
  <tr>
    <th>Номер счета</th>
    <td>LV33UNLA0050016608015</td>
  </tr>
</table>