<div id="logo_container">
	<%= image_tag "elite_house_slogan.png", :id => "slogan_image" %>
	<%= image_tag "elite_house_under_slogan#{('_lv' if I18n.locale == :lv).to_s}.png", :id => "under_slogan_image" %>
</div>

<iframe id="youtube" src="http://www.youtube.com/embed/mDFEIZ2g7KQ" frameborder="0" allowfullscreen></iframe>