<div id="separator_container">
	<!-- <img id="separator" src="images/line_separator_big.png"> -->
	<%= image_tag "line_separator_big.png" %>
</div>
<div id="logo_container">
	<!-- <img id="logo" src="images/logo.png"> -->
	<%= image_tag "logo.png" %>
	<p id="welcome_text"> Слоган/Какой нибудь текст </p>
</div>