<p>
  <% if @sub_category %>
    <%= @sub_category.description.to_s.html_safe %>
  <% elsif @category %>
    <%= @category.description.to_s.html_safe %>
  <% else %>
    <p>
      Основной концепцией в работе нашей фирмы является сочетание индивидуальных пожеланий заказчика мебели с высокой функциональностью и современным дизайном. Используя самые современные технологии, материалы и фурнитуру нашим партнерам удаётся решать самые различные пожелания клиентов. Мы предлагаем только наиболее интересные и качественные модели, которые нравятся нашим покупателям.
      В нашем Салоне Вы можете купить мебель сразу или заказать в нужной комплектации и цвете, а так же сделать индивидуальную модель по индивидуальным параметрам и пожеланиям.
      Предлагаемые нами возможности для фантазии потрясут Вас своим многообразием: от модерна до изысканной классики, от мягкой мебели до мебели из массива дерева, от офиса до спальни.
    </p>  
    <p>
      Одним из важнейших принципов нашей работы является сочетание красивого дизайна, высокого качества и доступных цен.
    </p>
  <% end %>
</p>