<p>
  <% if @sub_category %>
    <%= @sub_category.description.to_s.html_safe %>
  <% elsif @category %>
    <%= @category.description.to_s.html_safe %>
  <% else %>
    <%= SubCategory.find_by_name("Klasiskais stils").description.to_s.html_safe %>
  <% end %>
</p>